services:
  - type: web
    name: springboot-mongo-app
    env: docker
    plan: free

    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: MONGODB_URI
        sync: false
